.App {
  text-align: center;
}

html {
  background-color: #cfd8dc;
}

.title {
  color: #eceff1;
  background-color: #263238;
}

a {
  text-decoration: none;
  color: #cfd8dc;
  background-color: #263238;
}
