.App {
  text-align: center;
}

html {
  background-color: #cfd8dc;
  background-image: url(./bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  color: #eceff1;
}

a {
  text-decoration: none;
  color: white;
}

@media screen 
   and (max-width : 1524px) {
   html {
    background-position: center;
    background-size:unset;
   }
}